# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/**/*.userprefs
/**/*.csproj
/**/*.pidb
/**/*.suo
/**/*.sln*
/**/*.user
/**/*.unityproj
/**/*.booproj
.idea/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Unity Project/Runner Project/Assets/Editor/Instant Screenshot/ScreenshotTaker.cs
Unity Project/Runner Project/Assets/Editor/Instant Screenshot/Documentation - Instant screenshot.pdf
Unity Project/Runner Project/Assets/Assets/Hmoman/Materials.meta
Unity Project/Runner Project/Assets/Editor/Instant Screenshot.meta
Unity Project/Runner Project/Assets/Editor/Instant Screenshot/Documentation - Instant screenshot.pdf.meta
Unity Project/Runner Project/Assets/Editor/Instant Screenshot/ScreenshotTaker.cs.meta
